body {
    background: url(https://images.pexels.com/photos/2131661/pexels-photo-2131661.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load) no-repeat;
    background-size: cover;
    color: blanchedalmond;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    border-radius: 30px; /* Fix the typo: 'border' should be 'border-radius' */
    background: transparent;
}

h1 {
    color: #007BFF;
}

p {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}
