body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/d05ca32bc42a7082309e6192cf74cee4.jpg);
.container {
    max-width: 700px;
    margin: 20px ;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background:transparent;
    color: rgb(34, 37, 41);
    text-shadow: 2%;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(29, 24, 24, 0.2).2);
    backdrop-filter: blur(10px);
}

article {
    margin-bottom: 30px;
}

h1 {
    color: #3ad51c; 
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}
