body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #e9e4e4;
}

.contact-section {
    max-width: 500px;
    margin: auto;
    background-color: rgb(229, 212, 212) 86, 86)242;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
    display: grid;
    grid-gap: 15px;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}

.contact-info,
.business-hours,
.map {
    margin-top: 20px;
}

h3 {
    color: #333;
    background: transparent;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(134, 32, 32, 0.952);
}

.nav-container {
    background-color: #8fac90; 
    padding: 10px 20px; 
    text-align: center; 
}

.nav-links li {
    display: inline-block;
    margin-right: 15px;
}

.nav-links a {
    color: #110f0f; 
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
}

.nav-links a.active {
    background-color: #3E8E41; 
}

.nav-links a:hover {
    background-color: #45a049; 
}