body{
    
    background: url(https://img.freepik.com/free-vector/abstract-geometric-green-background_23-2148373602.jpg?w=900&t=st=1701917877~exp=1701918477~hmac=52b09154f6ea47c10e9f64923641db336ec8010350f2d34cf3c7a3a6af451ce0);
    background-repeat: no-repeat;
    background-size:cover;
}
.heading1{
    position:center;
    overflow: hidden;
    padding: 10px;
    margin: 5px;
    border-color: rgb(28, 29, 30);
    border: 12px;
    border-radius: 30px;
    background:transparent ;
    color: rgba(35, 31, 31, 0.64);
    text-align: center;
}
.ul_content{
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: aliceblue;  
}
.logo{
    height: 1px;;
    width: 300px;
    padding: 16px;

 background-color: rgba(88, 118, 118, 0.606);
 backdrop-filter: blur 30px;
 
align-items: end;
    justify-content: center;
}

.navbar a {
    align-content: center;
    float: left;
    padding: 10px;
    background-color: rgba(91, 195, 78, 0), 0.533);
    font-size: medium;
    text-decoration: none;
    overflow: none;
    text-align: center;
}
.navbar :hover{
    background-color: rgb(46, 43, 43);
    color: #cfc2bc;
}
.navbar a.active{
    color: yellow;
    background-color: rgba(88, 118, 118, 0.606);
}
.product{
    
}
.product img {
    width: 50px;/
    height: auto; 

}
