body {
    margin: 0;
    padding: 0;
    background: url(https://images.pexels.com/photos/5141727/pexels-photo-5141727.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)   repeat-x;
    body {
padding: 0%;
margin: 0%;
    }
    
    .navbar {
        background-color: #4CAF50;
        padding: 10px;
        text-align: center;
    }
    
    .ul_content {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end; 
    }
    
    .ul_content li {
        margin-right: 20px;
    }
    
    .ul_content li a {
        text-decoration: none;
        color: white;
        font-size: 16px;
    }
    
    .ul_content li a:hover {
        color: #f0f8ef;
    }
    
    .ul_content li.login {
        margin-left: auto; 
    }
    
    .ul_content li.login a {
        font-weight: bold; 
    }
    