body{
    color: red;
    background: url(https://cdn7.dissolve.com/p/D1061_111_251/D1061_111_251_1200.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.heading1{
    position:center;
    overflow: hidden;
    padding: 10px;
    margin: 5px;
    border-color: rgb(28, 29, 30);
    border: 12px;
    border-radius: 30px;
    background:transparent ;
    color: rgba(35, 31, 31, 0.64);
    text-align: center;
}
.ul_content{
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: aliceblue;  
}
.logo{
color:rgb(188, 209, 208);
justify-content: center;
;
text-size-adjust: 20px;
text-align: center;
text-decoration: double;
text-align: justify;
}

.navbar a {
    align-content: center;
    float: left;
    padding: 10px;
    background-color: rgba(91, 195, 78, 0), 0.533);
    font-size: medium;
    text-decoration: none;
    overflow: none;
    text-align: center;
}
.navbar :hover{
    background-color: rgb(46, 43, 43);
    color: #cfc2bc;
}
.navbar a.active{
    color: yellow;
    background-color: darkcyan;
}
.product{
    
}
.product img {
    width: 50px;/
    height: auto; 

}
