body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: brown;
}

.dashboard-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(253, 245, 245, 0.702);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1, h2 {
    color: #333;
}

.metrics, .profile-snapshot-container, .leaderboard, .recent-contributions {
    margin-bottom: 20px;
}

.metrics p {
    margin: 0;
}

.profile-snapshot-container {
    display: flex;
    justify-content: space-between;
}

.profile-snapshot {
    text-align: center;
    width: 48%;
    padding: 15px;
    background-color: #ffffffc3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.profile-snapshot img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.leaderboard {
    width: 90%; 
}

.leaderboard ol {
    list-style: decimal;
    padding-left: 30px;
}

.recent-contributions, .leaderboard {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.recent-contributions ul, .leaderboard ol {
    padding: 0;
}

.recent-contributions li, .leaderboard li {
    margin-bottom: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(134, 32, 32, 0.952);
}

.nav-container {
    background-color: #8fac90; 
    padding: 10px 20px; 
    text-align: center; 
}

.nav-links li {
    display: inline-block;
    margin-right: 15px;
}

.nav-links a {
    color: #171616; 
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
}

.nav-links a.active {
    background-color: #3E8E41; 
}

.nav-links a:hover {
    background-color: #45a049; 
}
